<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab

Week 1 | Day 2 | Lab 1 

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Miscellaneous-problems" data-toc-modified-id="Miscellaneous-problems-1">Miscellaneous problems</a></span><ul class="toc-item"><li><span><a href="#1.-What-are-the-types-of-the-following-variables?" data-toc-modified-id="1.-What-are-the-types-of-the-following-variables?-1.1">1. What are the types of the following variables?</a></span></li><li><span><a href="#2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?" data-toc-modified-id="2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?-1.2">2. What is the difference between a "mutable" and an "immutable" object?</a></span></li><li><span><a href="#3.-Print-the-student_names-list." data-toc-modified-id="3.-Print-the-student_names-list.-1.3">3. Print the <code>student_names</code> list.</a></span></li><li><span><a href="#4.-Print-the-names-of-the-first-and-last-students-in-the-list." data-toc-modified-id="4.-Print-the-names-of-the-first-and-last-students-in-the-list.-1.4">4. Print the names of the first and last students in the list.</a></span></li><li><span><a href="#5.-Print-the-first-5-names-in-the-student-list." data-toc-modified-id="5.-Print-the-first-5-names-in-the-student-list.-1.5">5. Print the first 5 names in the student list.</a></span></li><li><span><a href="#6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable." data-toc-modified-id="6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable.-1.6">6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.</a></span></li><li><span><a href="#7.-Append-an-animal-to-the-list-of-animals." data-toc-modified-id="7.-Append-an-animal-to-the-list-of-animals.-1.7">7. Append an animal to the list of animals.</a></span></li><li><span><a href="#8.-Print-the-length-of-the-animals-list." data-toc-modified-id="8.-Print-the-length-of-the-animals-list.-1.8">8. Print the length of the animals list.</a></span></li><li><span><a href="#9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list." data-toc-modified-id="9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list.-1.9">9. Show two different ways to combine the animals list and numbers list.</a></span></li><li><span><a href="#10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place." data-toc-modified-id="10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place.-1.10">10. Remove my name from the list and insert your own in the same place.</a></span></li><li><span><a href="#11.-Find-the-index-of-'a'-in-the--mix--list." data-toc-modified-id="11.-Find-the-index-of-'a'-in-the--mix--list.-1.11">11. Find the index of <code>'a'</code> in the  <code>mix</code>  list.</a></span></li><li><span><a href="#12.-Reverse-the-mix-list." data-toc-modified-id="12.-Reverse-the-mix-list.-1.12">12. Reverse the <code>mix</code> list.</a></span></li><li><span><a href="#13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable." data-toc-modified-id="13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable.-1.13">13. Remove the last element of <code>mix</code> and assign it to a variable.</a></span></li><li><span><a href="#14.-Count-the-number-of-times-0-appears-in-the-following-list." data-toc-modified-id="14.-Count-the-number-of-times-0-appears-in-the-following-list.-1.14">14. Count the number of times <code>0</code> appears in the following list.</a></span></li><li><span><a href="#15.-Try-to-convert-elements-in-a-list-to-floats." data-toc-modified-id="15.-Try-to-convert-elements-in-a-list-to-floats.-1.15">15. Try to convert elements in a list to floats.</a></span></li><li><span><a href="#16.-While-loops-and-strings." data-toc-modified-id="16.-While-loops-and-strings.-1.16">16. While loops and strings.</a></span><span>

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [1]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'MYR':'Malaysian Ringgit', 'SGD':'Singapore Dollar'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

a = int (integer)
b = float (floating-point)
c = list
d = dict (dictionary)
e = tuple
f = dict (dictionary)
g = bool (boolean)
h = bool (boolean)
i = str (string)

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

A mutable object can be modified after it is created, whereas an immutable object cannot be changed once it is created.

---

### 3. Print the `student_names` list.

In [2]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

In [3]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4. Print the names of the first and last students in the list.

In [4]:
print(student_names[0], 'and', student_names[-1])

s1 and s10

---

### 5. Print the first 5 names in the student list.

In [5]:
print(student_names[:5])

['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [6]:
combined_names = " ".join(student_names[8:10])
print(combined_names)

s9 s10

---

### 7. Append an animal to the list of animals.

In [7]:
animals = ['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle']

In [8]:
animals.append('giraffe')
print(animals)

['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle', 'giraffe']

---

### 8. Print the length of the animals list.

In [9]:
length_of_animals = len(animals)
print(length_of_animals)

7

---

### 9. Show two different ways to combine the animals list and numbers list.

In [10]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [11]:
combined_list = animals + numbers
print(combined_list)

['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle', 'giraffe', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [12]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle', 'giraffe', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 10. Remove the name 'chris' from the list and insert your own in the same place.

In [13]:
names = ['doug', 'billy', 'chris', 'kian', 'sam']

In [14]:
names.remove('chris')
print(names)

['doug', 'billy', 'kian', 'sam']

---

### 11. Find the index of `'a'` in the  `mix`  list.

In [15]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [16]:
index_of_a = mix.index('a')
print(index_of_a)

5

---

### 12. Reverse the `mix` list.

In [17]:
reversed_mix = mix[::-1]
print(reversed_mix)

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 13. Remove the last element of `mix` and assign it to a variable.

In [18]:
last_element = mix.pop()
print(mix)

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a']

---

### 14. Count the number of times `0` appears in the following list.

In [19]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [20]:
count_zero = binary.count(0)
print(count_zero)

16

---

### 15. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

> Hint: Use a try-except statement, see [here](http://www.pythonforbeginners.com/error-handling/python-try-and-except) or [here](https://www.programiz.com/python-programming/exception-handling).

In [21]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [22]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']
converted = []

for item in corrupted:
    try:
        float_item = float(item)
        converted.append(float_item)
    except ValueError:
        continue
        
print(converted)

[23.1, 0.12, -11.1, 1000.0]

---

### 16. While loops and strings.

Iterate over the following sentence and count the number of vowels in the sentence.

In [23]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

In [24]:
vowel = "AEIOU"
index = 0
count = 0

while index < len(sentence):
    if sentence[index] in vowel:
        count += 1
    index += 1
    
print(count)

23

### 17. Functions

Based on your code in question 16 above, write a function that receives a sentence as a parameter and returns the number of vowels in the sentence. Then calculate the number of vowels in the following:

In [25]:
sentence_2 = "THIS IS ANOTHER SENTENCE WITH A SOME VOWELS"

In [26]:
def count_vowel(sentence):
    vowel = "AEIOU"
    index = 0
    count = 0

    while index < len(sentence):
        if sentence[index] in vowel:
            count += 1
        index += 1
        
    return count
        
result = count_vowel(sentence_2)
print(result)

14

---